a{
	font-weight: bold; 
	text-decoration: none; 
	font-size: 9pt;
	color: red;
}
a:hover {
	text-decoration: underline;
}
.rojo{
	color: red;
	font-weight: bold;
}
#comprar{
	text-align: center;
}
body {
	margin: 0px 0px 0px 0px;
	padding:0px;
	background: #ffffff;
    font-family: trebuchet ms, helvetica, verdana;
    font-size: 9pt;
}
footer{
	width: 1000px;
	height: 40px;
	background: #2bde73;
	border-right: 3px solid #8E8E8E;
    border-left: 3px solid #8E8E8E;
    border-bottom: 3px solid #8E8E8E;
    padding-top: 20px;
    color: #8E8E8E;
}
footer div{
	font-size: 12px;
	font-weight: bold;
}
p{
	text-align: justify;
}
td {             	
	font-family: trebuchet ms, helvetica, verdana;
    font-size: 9pt; 
	color:#000000;
	}
.terminos{
	text-align: justify;
}
#menu{
	position: relative;	
	top:0;
	left:0;
	width:1000px;
	height:20;
	border:0;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	background: #2bde73;
    border-right: 3px solid #8E8E8E;
    border-left: 3px solid #8E8E8E;
}
#all{
	background: white;
	width: 600px;
	height: 1000px;
	margin-left: 180px;
	padding: 20 30 20 30px;
}
#menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}
#menu ul li a
{
	color: #8E8E8E;
	display: block;
	padding: 0.3em 0;
}
#pageads {             	
	vertical-align: top;
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 10px;
}
ul{
	padding-left: 15px;
}
#pixels {
	position: relative;	
	top:0;
	left:0;
	width:1000;
	height:1000;
	border:0;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}
#note {
	color: #999999;
	font-family: trebuchet ms, arial, helvetica;
        	font-size: 8pt; 
	background:#646464;
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
}
h1, h2{
	font-weight: bold;
	border-bottom: 3px dashed #2bde73;
	padding-bottom: 10px;
	color: #8E8E8E;
}
.stat1{ 
	color: #000000;
	font-weight: bold;
}
#statrojo {
	color: #ff0000; 	
	font-weight: bold;
}
#statverde { 
	color: #2bde73;
	font-weight: bold;
}
#pagecontent {
	background:#e1e1e1;
	padding: 10px;
	width: 600;
	text-align: left;
	vertical-align: top;		
}
#stats {
	position: absolute;	
	top:4;
	left:996;
	margin-top: 7px;
	width:150px;
	height:37;
	border:0;
	text-align:center;
	line-height:16px;
}
.letrero img{
	width: 428px;
}
.letrero2 img{
	width: 100px;
}
#contenido{
    border-right: 3px solid #8E8E8E;
    border-left: 3px solid #8E8E8E;
}


#encabezado{
	position: relative;	
	top:0;
	left:0;
	width:1000px;
	height:45;
    border-top: 3px solid #8E8E8E;
    border-right: 3px solid #8E8E8E;
    border-left: 3px solid #8E8E8E;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	background:#ffffff;
}
